---

_You are currently looking at **version 1.1** of this notebook. To download notebooks and datafiles, as well as get help on Jupyter notebooks in the Coursera platform, visit the [Jupyter Notebook FAQ](https://www.coursera.org/learn/python-data-analysis/resources/0dhYG) course resource._

---

In [1]:
import pandas as pd
import numpy as np
from scipy.stats import ttest_ind
import re

# Assignment 4 - Hypothesis Testing
This assignment requires more individual learning than previous assignments - you are encouraged to check out the [pandas documentation](http://pandas.pydata.org/pandas-docs/stable/) to find functions or methods you might not have used yet, or ask questions on [Stack Overflow](http://stackoverflow.com/) and tag them as pandas and python related. And of course, the discussion forums are open for interaction with your peers and the course staff.

Definitions:
* A _quarter_ is a specific three month period, Q1 is January through March, Q2 is April through June, Q3 is July through September, Q4 is October through December.
* A _recession_ is defined as starting with two consecutive quarters of GDP decline, and ending with two consecutive quarters of GDP growth.
* A _recession bottom_ is the quarter within a recession which had the lowest GDP.
* A _university town_ is a city which has a high percentage of university students compared to the total population of the city.

**Hypothesis**: University towns have their mean housing prices less effected by recessions. Run a t-test to compare the ratio of the mean price of houses in university towns the quarter before the recession starts compared to the recession bottom. (`price_ratio=quarter_before_recession/recession_bottom`)

The following data files are available for this assignment:
* From the [Zillow research data site](http://www.zillow.com/research/data/) there is housing data for the United States. In particular the datafile for [all homes at a city level](http://files.zillowstatic.com/research/public/City/City_Zhvi_AllHomes.csv), ```City_Zhvi_AllHomes.csv```, has median home sale prices at a fine grained level.
* From the Wikipedia page on college towns is a list of [university towns in the United States](https://en.wikipedia.org/wiki/List_of_college_towns#College_towns_in_the_United_States) which has been copy and pasted into the file ```university_towns.txt```.
* From Bureau of Economic Analysis, US Department of Commerce, the [GDP over time](http://www.bea.gov/national/index.htm#gdp) of the United States in current dollars (use the chained value in 2009 dollars), in quarterly intervals, in the file ```gdplev.xls```. For this assignment, only look at GDP data from the first quarter of 2000 onward.

Each function in this assignment below is worth 10%, with the exception of ```run_ttest()```, which is worth 50%.

In [2]:
# Use this dictionary to map state names to two letter acronyms
states = {'OH': 'Ohio', 'KY': 'Kentucky', 'AS': 'American Samoa', 'NV': 'Nevada', 'WY': 'Wyoming', 'NA': 'National', 'AL': 'Alabama', 'MD': 'Maryland', 'AK': 'Alaska', 'UT': 'Utah', 'OR': 'Oregon', 'MT': 'Montana', 'IL': 'Illinois', 'TN': 'Tennessee', 'DC': 'District of Columbia', 'VT': 'Vermont', 'ID': 'Idaho', 'AR': 'Arkansas', 'ME': 'Maine', 'WA': 'Washington', 'HI': 'Hawaii', 'WI': 'Wisconsin', 'MI': 'Michigan', 'IN': 'Indiana', 'NJ': 'New Jersey', 'AZ': 'Arizona', 'GU': 'Guam', 'MS': 'Mississippi', 'PR': 'Puerto Rico', 'NC': 'North Carolina', 'TX': 'Texas', 'SD': 'South Dakota', 'MP': 'Northern Mariana Islands', 'IA': 'Iowa', 'MO': 'Missouri', 'CT': 'Connecticut', 'WV': 'West Virginia', 'SC': 'South Carolina', 'LA': 'Louisiana', 'KS': 'Kansas', 'NY': 'New York', 'NE': 'Nebraska', 'OK': 'Oklahoma', 'FL': 'Florida', 'CA': 'California', 'CO': 'Colorado', 'PA': 'Pennsylvania', 'DE': 'Delaware', 'NM': 'New Mexico', 'RI': 'Rhode Island', 'MN': 'Minnesota', 'VI': 'Virgin Islands', 'NH': 'New Hampshire', 'MA': 'Massachusetts', 'GA': 'Georgia', 'ND': 'North Dakota', 'VA': 'Virginia'}

In [3]:
university_towns = pd.read_csv('university_towns.txt',delimiter="\n", header = None)

In [4]:
def get_list_of_university_towns():
    '''Returns a DataFrame of towns and the states they are in from the 
    university_towns.txt list. The format of the DataFrame should be:
    DataFrame( [ ["Michigan", "Ann Arbor"], ["Michigan", "Yipsilanti"] ], 
    columns=["State", "RegionName"]  )
    
    The following cleaning needs to be done:

    1. For "State", removing characters from "[" to the end.
    2. For "RegionName", when applicable, removing every character from " (" to the end.
    3. Depending on how you read the data, you may need to remove newline character '\n'. '''
    
    rows = []
    for line in university_towns[0]:
        #print (line)
        if line.endswith('[edit]'):
            state = line.replace('[edit]',"")
        elif "(" in line: 
            start = line.find("(")
            town = line[:start-1]
            rows.append([state, town])
        else:
            town = line.rstrip()
            rows.append([state, town])

    df_university_town = pd.DataFrame(rows, columns=["State", "RegionName"] )

    
    return df_university_town

In [5]:
gdp = pd.read_excel('gdplev.xls',skiprows=5)

In [6]:
gdp = gdp.iloc[:,[4,6]]

In [7]:
gdp.columns = ['Quarter',"GDP in billions of chained 2009 dollars" ]

In [8]:
df_gdp = gdp[gdp['Quarter'] >= '2000q1']
df_gdp.reset_index(drop=True,inplace=True)
df_gdp.head()

  Quarter  GDP in billions of chained 2009 dollars
0  2000q1                                  12359.1
1  2000q2                                  12592.5
2  2000q3                                  12607.7
3  2000q4                                  12679.3
4  2001q1                                  12643.3

In [9]:
def get_recession_start():
    '''Returns the year and quarter of the recession start time as a 
    string value in a format such as 2005q3'''
    for i, row in df_gdp[2:].iterrows():
        if (df_gdp.iloc[i-2][1] > df_gdp.iloc[i-1][1]) and (df_gdp.iloc[i-1][1] > df_gdp.iloc[i][1]):
            return (df_gdp.iloc[i-1][0])
               
get_recession_start()

'2008q3'

In [10]:
def get_recession_end():
    '''Returns the year and quarter of the recession end time as a 
    string value in a format such as 2005q3'''
    recession_quarter = get_recession_start()  
    for i, row in df_gdp[2:].iterrows():
        if row.values[0]>recession_quarter:
            if (df_gdp.iloc[i-1][1] < df_gdp.iloc[i][1]) and (df_gdp.iloc[i-2][1] < df_gdp.iloc[i-1][1]):
                return df_gdp.iloc[i][0]
            
            
get_recession_end()

'2009q4'

In [11]:
def get_recession_bottom():
    '''Returns the year and quarter of the recession bottom time as a 
    string value in a format such as 2005q3'''
    recession_quarter = get_recession_start()
    recovery_quarter = get_recession_end()
    recession = df_gdp[(df_gdp['Quarter']>recession_quarter) &( df_gdp['Quarter']<recovery_quarter)]
        
    recession_bottom = recession[recession['GDP in billions of chained 2009 dollars']== min(recession['GDP in billions of chained 2009 dollars'])]
    
    return recession_bottom['Quarter'].values[0]

get_recession_bottom()

'2009q2'

In [12]:
housing_data = pd.read_csv('City_Zhvi_AllHomes.csv')

In [13]:
housing_data.columns

Index(['RegionID', 'RegionName', 'State', 'Metro', 'CountyName', 'SizeRank',
       '1996-04', '1996-05', '1996-06', '1996-07',
       ...
       '2015-11', '2015-12', '2016-01', '2016-02', '2016-03', '2016-04',
       '2016-05', '2016-06', '2016-07', '2016-08'],
      dtype='object', length=251)

In [14]:
regions = housing_data.iloc[:,:6]
regions.head(3)

,RegionID,RegionName,State,Metro,CountyName,SizeRank
0,6181,New York,NY,New York,Queens,1
1,12447,Los Angeles,CA,Los Angeles-Long Beach-Anaheim,Los Angeles,2
2,17426,Chicago,IL,Chicago,Cook,3

In [15]:
housing_data['State'] = housing_data['State'].map(states)

In [16]:
region_index = housing_data[['State','RegionName']].apply(lambda x : '[{}, {}]'.format(x[0],x[1]), axis=1)
region_index = pd.Series(region_index)
region_index.head()

0            [New York, New York]
1       [California, Los Angeles]
2             [Illinois, Chicago]
3    [Pennsylvania, Philadelphia]
4              [Arizona, Phoenix]
dtype: object

In [17]:
prices = housing_data.iloc[:,6:]
prices.head(3)

,1996-04,1996-05,1996-06,1996-07,1996-08,1996-09,1996-10,1996-11,1996-12,1997-01,...,2015-11,2015-12,2016-01,2016-02,2016-03,2016-04,2016-05,2016-06,2016-07,2016-08
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,573600,576200,578400,582200,588000,592200,592500,590200,588000,586400
1,155000.0,154600.0,154400.0,154200.0,154100.0,154300.0,154300.0,154200.0,154800.0,155900.0,...,558200,560800,562800,565600,569700,574000,577800,580600,583000,585100
2,109700.0,109400.0,109300.0,109300.0,109100.0,109000.0,109000.0,109600.0,110200.0,110800.0,...,207800,206900,206200,205800,206200,207300,208200,209100,211000,213000

In [18]:
col = pd.PeriodIndex(housing_data.columns[6:],freq='Q').strftime('%Yq%q')
col

Index(['1996q2', '1996q2', '1996q2', '1996q3', '1996q3', '1996q3', '1996q4',
       '1996q4', '1996q4', '1997q1',
       ...
       '2015q4', '2015q4', '2016q1', '2016q1', '2016q1', '2016q2', '2016q2',
       '2016q2', '2016q3', '2016q3'],
      dtype='object', length=245)

In [19]:
quarter_price = prices.groupby(col, axis=1).mean()

In [20]:
quarter_price = quarter_price.loc[:, '2000q1':]
quarter_price.shape

(10730, 67)

In [21]:
def convert_housing_data_to_quarters():
    '''Converts the housing data to quarters and returns it as mean 
    values in a dataframe. This dataframe should be a dataframe with
    columns for 2000q1 through 2016q3, and should have a multi-index
    in the shape of ["State","RegionName"].
    
    Note: Quarters are defined in the assignment description, they are
    not arbitrary three month periods.
    
    The resulting dataframe should have 67 columns, and 10,730 rows.
    '''
    
    return quarter_price.set_index([housing_data['State'],housing_data['RegionName']])

convert_housing_data_to_quarters().loc[[('Ohio','Akron'),('Ohio','Dayton')]].loc[:,['2010q3','2015q2','2016q4']]

/Users/Nan/anaconda2/lib/python3.7/site-packages/pandas/core/indexing.py:969: FutureWarning:
Passing list-likes to .loc or [] with any missing label will raise
KeyError in the future, you can use .reindex() as an alternative.

See the documentation here:
https://pandas.pydata.org/pandas-docs/stable/indexing.html#deprecate-loc-reindex-listlike
  return self._getitem_nested_tuple(tup)

                        2010q3        2015q2  2016q4
State RegionName
Ohio  Akron       67566.666667  61833.333333     NaN
      Dayton      57600.000000  50000.000000     NaN

In [22]:
def run_ttest():
    '''First creates new data showing the decline or growth of housing prices
    between the recession start and the recession bottom. Then runs a ttest
    comparing the university town values to the non-university towns values, 
    return whether the alternative hypothesis (that the two groups are the same)
    is true or not as well as the p-value of the confidence. 
    
    Return the tuple (different, p, better) where different=True if the t-test is
    True at a p<0.01 (we reject the null hypothesis), or different=False if 
    otherwise (we cannot reject the null hypothesis). The variable p should
    be equal to the exact p value returned from scipy.stats.ttest_ind(). The
    value for better should be either "university town" or "non-university town"
    depending on which has a lower mean price ratio (which is equivilent to a
    reduced market loss).'''
    university_towns = get_list_of_university_towns()
    housing_price_quarterly = convert_housing_data_to_quarters()
    start = get_recession_start()
    bottom = get_recession_bottom()

    start_idx = housing_price_quarterly.columns.get_loc(start)
    before = housing_price_quarterly.columns[start_idx-1]
    
    housing_price_quarterly['ratio']= housing_price_quarterly[before]-housing_price_quarterly[bottom]
    
    university_town_index = []
    for i, row in university_towns.iterrows():
        idx = (row[0], row[1])
        if idx in housing_price_quarterly.index:
            university_town_index.append(idx)
    
    house_price_university_town = housing_price_quarterly.loc[university_town_index]['ratio']

    non_university_town_index = set(housing_price_quarterly.index) - set(university_town_index)

    house_price_non_university_town = housing_price_quarterly.loc[list(non_university_town_index)]['ratio']
    
    house_price_non_university_town.dropna(inplace=True)
    house_price_university_town.dropna(inplace=True)
    
    
    t,p = ttest_ind(house_price_university_town, house_price_non_university_town)
    
    different = p < 0.05
    result = t < 0
    better = [ "university town", "non-university town"]
    
    return  (different, p, "university town")



run_ttest()

/Users/Nan/anaconda2/lib/python3.7/site-packages/IPython/core/interactiveshell.py:2843: PerformanceWarning: indexing past lexsort depth may impact performance.
  raw_cell, store_history, silent, shell_futures)

(True, 0.002099659657952039, 'university town')